.antigen/
.ssr/
.atom/
.bash_history
.cache/
.calibre-web/
.config/Code - OSS/
.config/Gaijin/
.config/WarThunder/
.config/aocd/
.config/background
.config/cef_user_data/
.config/flameshot/
.config/gnome-control-center/
.config/gtk-2.0/
.config/inkscape/
.config/lutris/
.config/tmux/
.config/wireshark/
.gitkraken/
.gnupg/
.icons/
.java/
.lesshst
.local/
.mozilla/
.mysql_history
.netrc
.npm/
.nvidia-settings-rc
.pki/
.pulse-cookie
.python_history
.ssh/
.steam/
.steampath
.steampid
.stellarium/
.themes/
.tldr/
.var/
.vim-bookmarks
.viminfo
.vimspector.log
.vscode-oss/
.vscode/
.w3m/
.wget-hsts
.yarnrc
.zcompdump
Desktop/
Downloads/
Documents/
Games/
Pictures/
Projects/
VirtualBox VMs/
aoc/
library/
tmux*
yay/
zsh-cache/
.kodi
classnotes
.joplin
Orchis-theme
.config/Joplin
.config/configstore
.config/joplin-desktop
.config/libvirt
.config/python_keyring
.node-gyp/
