.cache
.netrc
.yarnrc
.tldr
.stellarium
.python_history
.npm
.pki
.vscode
.lesshst
.ssh
.gnupg
.local
.mozilla
.themes
Desktop
install
zsh-cache
Documents
Downloads
Pictures
yay
.bash_logout
.bash_profile
.bash_history
.viminfo
.antigen
.zcompdump
.zshrc.zwc
