[init]
	defaultBranch = main
[user]
	email = jaydeepjd.8914@gmail.com
	name = Jaydeep P Das
	signingKey = 3E688D907E91971D
[core]
	editor = nvim
[gpg]
	program = gpg2
[push]
	default = current
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = jaydeepjd.8914@gmail.com
[commit]
	gpgSign = true
