autostart
totem
libreoffice
coc
dconf
Code
evolution
gnome-boxes
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
htop
ibus
keepassxc
kitty
nautilus
neofetch
polybar
bspwm
procps
pulse
sxhkd
dleyna-renderer-service.conf
user-dirs.dirs
user-dirs.locale

