autostart
bpytop
lazygit/state.yml
Atom
Electron
JetBrains
gh
GeoGebra
menus
calibre
qBittorrent
GIMP
viewnior
GitKraken
vlc
fish
VirtualBox
QtProject.conf
vifm/vifminfo.json
vifm/vifm-help.txt
obs-studio
guake
mimeapps.list
google-chrome
totem
libreoffice
coc
dconf
Code
evolution
gnome-boxes
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
htop
ibus
keepassxc
kitty
nautilus
neofetch
polybar
bspwm
procps
pulse
sxhkd
dleyna-renderer-service.conf
dleyna-server-service.conf
user-dirs.dirs
user-dirs.locale
tiling-assistant
kdenliverc
kdenlive-layoutsrc
Element
Slack
picom
nitrogen
